
	  <div class="wrapper page-margin grid">
        <div class="grid__item collection-content one-whole">          
          <div class="grid-uniform aos-init aos-animate">            
              {% for block in section.blocks %}  
            	<div class="grid grid--full"
                     data-aos="fade-up"
                     style="margin-top:{{section.settings.shop_margin_top}}px;margin-bottom:{{section.settings.shop_margin_bottom}}px;">
                  <div style="margin:{{block.settings.image_margin}}px;padding:{{block.settings.image_padding}}px;">                    
                    
                        {%- assign grid_width_large = 'large--one-whole' -%}
                        {%- assign grid_width_medium = 'medium--one-whole' -%}
                        {%- assign grid_width_small = 'small--one-whole' -%}  
                    
                    	{%- assign feature_image = block.settings.campaign_image -%}
                        {% include 'campaign-basic-grid-item' %}
                               
                  </div>
            	</div>
            	<div style="clear:both;"></div>
            
              {% endfor %}
          </div>
      </div>
   </div>


{% schema %}
  {
    "name": "Campaign",
    "settings": [
    {
      "type":    "range",
      "id":      "shop_margin_top",
      "min":     0,
      "max":     250,
      "step":    5,
      "label":   "Top Margin (px per row)",
      "default": 0
    },
    {
      "type":    "range",
      "id":      "shop_margin_bottom",
      "min":     0,
      "max":     250,
      "step":    5,
      "label":   "Bottom Margin (px per row)",
      "default": 25
    }  
	],
    "blocks": [
    {
      "type": "campaign_image_block",	  
      "name": "Campaign Image",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "Aspect Ratio",
          "default": "1.33",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}         
          ]
        },  
        {
          "type":    "range",
          "id":      "image_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "image_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },    
        {
          "type": "image_picker",
          "id": "campaign_image",
          "label": "Image"
        }
      ]
    }
  ]
  }
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
