{% section 'tshirt-collection-2' %}
<center class="collection-shop-pager">
<a href="https://eterne.com/collections/t-shirts-tanks">Previous</a>    <a href="https://eterne.com/collections/t-shirts-tanks">1</a>    <b>2</b>
</center>