<!-- /templates/page.campaign-videobanner-paige.liquid -->

{% comment %} {% section 'vallery-youtube-video' %} {% endcomment %}

{% section 'paige-campaign-shop' %}

<div class="wrapper page-margin page-{{ page.handle }}">
{{ page.content }}
</div>