<!-- /templates/page.liquid -->

<div class="exclusive-banner">
  Test Exclusive Pgae
</div>

{% section 'exclusive-image-banner' %}

<div class="wrapper page-margin page-{{ page.handle }}">
{{ page.content }}
</div>


{% section 'exclusive-shop' %}
