<!-- /templates/page.campaign-styled-by-chloe.liquid -->

{% comment %} {% section 'vallery-youtube-video' %} {% endcomment %}

{% section 'styled-by-chloe-campaign-shop' %}

<div class="wrapper page-margin page-{{ page.handle }}">
{{ page.content }}
</div>