<!-- /templates/page.campaign-videobanner.liquid -->

{% comment %}{% section 'youtube-video-banner' %}{% endcomment %}

{% section 'campaign-shop' %}

<div class="wrapper page-margin page-{{ page.handle }}">
{{ page.content }}
</div>